{% assign allposts = site.posts | concat: site.projects | concat: site.education | concat: site.experience | concat: site.publications | concat: site.coursework | concat: site.achievements | sort: "date" | reverse %}
<script>
    const _posts = [];
    {% for post in allposts %}_posts.push( {type: [{% for type in post.timeline-type %}`{{type | dump | safe }}`,{% endfor %}],title: `{{post.title| dump | safe }}`,date: `{{post.date | date: "%b %d, %Y"  | dump | safe }}`,dateWithoutDay: `{{post.date | date: "%b, %Y"  | dump | safe }}`,excerpt: `{{post.excerpt | dump | safe }}`,url: `{{post.url | dump | safe }}`,baseurl: `{{site.baseurl | dump | safe }}`,image: `{% if post.image %}{{post.image}}{% else %}{% if site.favicon %} {{ site.favicon | relative_url }} {% else %} {{ site.baseurl }}/favicon.png {% endif %}{% endif %}`,tags: [{% if post.tags %}{% assign sorted_tags = post.tags | sort %}{% for single_tag in sorted_tags %}`{{ single_tag }}`,{% endfor %}{% endif %}]} );{% endfor %}
    window._posts = _posts;

    function infiniteScroll() {
    return {
            open: false,
            timelineType: 'Experience',
            loadedAllPosts: false,
            postsPerPage: 10,

            init() {
                this.loadItems();
            },

            loadItems() {
                this.shownIndices = [];
                for (let index = 0; index < window._posts.length; index++) {
                    const post = window._posts[index];
                    if (!post.type.includes(this.timelineType)) continue;
                    this.shownIndices.push(index);
                }
            }
        }
    }
</script>
<div x-data="infiniteScroll()" x-init="init()">
    <div class="tabs is-medium is-boxed is-toggle is-fullwidth" id="tabs">
        <ul>
            <template x-for="typeitem in ['Experience','Publications','Achievements','Education','Coursework']">
                <li @click="timelineType = typeitem; loadItems();" x-bind:class="timelineType === typeitem ? 'is-active' : ''">
                    <a style="border-radius: 15px 15px 0px 0px;" x-text="typeitem"></a>
                </li>
            </template>
        </ul>
    </div>
    <template x-for="index in shownIndices">
        {% include tabs-item.html %}
    </template>
    <a @click="document.getElementById('tabs').scrollIntoView({behavior: 'smooth'})">
        <button class="button is-primary">Go to tabs</button>
    </a>    
</div>
