<div class="card mb-5">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <a :href="window._posts[index].url">
                    <p class="title is-4" x-text="window._posts[index].title"></p>
                    <p class="subtitle is-6 mb-1" x-text="window._posts[index].dateWithoutDay"></p>
                    <div class="subtitle tags mb-2" x-show="window._posts[index].tags && window._posts[index].tags.length > 0">
                        <template x-for="tag in window._posts[index].tags">
                            <span class="tag is-primary has-text-dark is-size-6" x-text="tag"></span>
                        </template>
                    </div>
                </a>
                <div class="content is-size-5" x-html="window._posts[index].excerpt">
                </div>
            </div>
        </div>
    </div>
</div>
