<div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <template x-if="window._posts[index].type === 'Posts'">
        <p class="heading is-size-6" x-text="window._posts[index].date"></p>
        </template>
        <template x-if="window._posts[index].type !== 'Posts'">
        <p class="heading is-size-6" x-text="window._posts[index].dateWithoutDay"></p>
        </template>
        <div class="card">
            <div class="card-content">
                <a :href="window._posts[index].url">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img :src="window._posts[index].image" alt="window._posts[index].title">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4" x-text="window._posts[index].title"></p>
                            <div class="subtitle tags">
                                <template x-for="tag in window._posts[index].tags">
                                    <span class="tag is-primary has-text-dark is-size-6" x-text="tag"></span>
                                </template>
                            </div>
                        </div>
                    </div>
                </a>
                <template x-if="window._posts[index].type !== 'Projects'">
                    <div class="content is-size-5" x-html="window._posts[index].excerpt">
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>