{% assign allposts = site.posts | concat: site.projects | concat: site.education | concat: site.experience | concat: site.publications | concat: site.coursework | concat: site.achievements | sort: "date" | reverse %}
<script>
    const _posts = [];
    {% for post in allposts %}_posts.push( {type: [{% for type in post.timeline-type %}`{{type | dump | safe }}`,{% endfor %}],title: `{{post.title| dump | safe }}`,date: `{{post.date | date: "%b %d, %Y"  | dump | safe }}`,dateWithoutDay: `{{post.date | date: "%b, %Y"  | dump | safe }}`,excerpt: `{{post.excerpt | dump | safe }}`,url: `{{post.url | dump | safe }}`,baseurl: `{{site.baseurl | dump | safe }}`,image: `{% if post.image %}{{post.image}}{% else %}{% if site.favicon %} {{ site.favicon | relative_url }} {% else %} {{ site.baseurl }}/favicon.png {% endif %}{% endif %}`,tags: [{% if post.tags %}{% assign sorted_tags = post.tags | sort %}{% for single_tag in sorted_tags %}`{{ single_tag }}`,{% endfor %}{% endif %}]} );{% endfor %}
    window._posts = _posts;

    function infiniteScroll() {
    return {
            open: false,
            timelineType: 'Pinned',
            loadedAllPosts: false,
            postsPerPage: 10,

            init() {
                this.loadFirstPage();
                // https://www.entreprehero.com/infinite-scroll-using-alpinejs/
                this.triggerElement = document.querySelector('#loader');
                const ctx = this;
                if (!('IntersectionObserver' in window) ||
                    !('IntersectionObserverEntry' in window) ||
                    !('isIntersecting' in window.IntersectionObserverEntry.prototype) ||
                    !('intersectionRatio' in window.IntersectionObserverEntry.prototype))
                {
                    this.isObserverPolyfilled = true;
                    window.alpineInfiniteScroll = {
                        scrollFunc() {
                        var position = ctx.triggerElement.getBoundingClientRect();

                            if(position.top < window.innerHeight && position.bottom >= 0) {
                                ctx.loadMorePosts();
                            }
                        }
                    }

                    window.addEventListener('scroll', window.alpineInfiniteScroll.scrollFunc);
                } else {
                    const customObserver = new IntersectionObserver(function(entries) {
                    if(entries[0].isIntersecting === true) {
                        ctx.loadMorePosts();
                    }
                    }, { threshold: [0] })

                    customObserver.observe(ctx.triggerElement);
                }
            },

            loadFirstPage() {
                this.shownIndices = [];
                this.loadedAllPosts = false;
                let counter = 1;
                for (let index = 0; index < window._posts.length; index++) {
                    const post = window._posts[index];
                    if (counter > this.postsPerPage) break;
                    if (!post.type.includes(this.timelineType)) continue;
                    this.shownIndices.push(index);
                    counter ++;
                }
                if (counter < this.postsPerPage) this.loadedAllPosts = true;
            },

            loadMorePosts() {
                if (!this.loadedAllPosts) {
                    const initialLength = this.shownIndices.length;
                    const startIndex = this.shownIndices[this.shownIndices.length-1];
                    let counter = initialLength;
                    const targetLength = this.postsPerPage + initialLength;
                    for (let index = startIndex+1; index < window._posts.length; index++) {
                        const post = window._posts[index];
                        if (counter >= targetLength) break;
                        if (!post.type.includes(this.timelineType)) continue;
                        this.shownIndices.push(index);
                        counter ++;
                    }
                    if (counter < targetLength) this.loadedAllPosts = true;
                }
            }
        }
    }
</script>
<div class="timeline ml-5" x-data="infiniteScroll()" x-init="init()">
    <div @click="open = !open" class="dropdown timeline-header" x-bind:class="open ? 'is-active' : ''">
        <div class="dropdown-trigger">
          <button class="button is-medium" aria-haspopup="true" aria-controls="dropdown-menu">
            <span x-text="timelineType"></span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <template x-for="typeitem in ['Pinned','Posts','Projects','Experience','Publications','Achievements','Education','Coursework']">
                <a class="dropdown-item" @click="timelineType = typeitem; loadFirstPage();" x-bind:class="timelineType === typeitem ? 'is-active' : ''" x-text="typeitem" ></a>
            </template>
          </div>
        </div>
    </div>
    <template x-for="index in shownIndices">
        {% include timeline-item.html %}
    </template>
    <div class="timeline-header" id="loader" x-show="!loadedAllPosts">
        <button class="button is-loading"></button>
    </div>
    <div class="timeline-header" x-show="loadedAllPosts">
        <button class="button" @click="window.scrollTo({top: 0, behavior: 'smooth'})">Go to top</button>
    </div>
</div>
