---
layout: default
---
{% assign allposts = site.posts | concat: site.projects | sort: "date" | reverse %}
<div class="content custom-text-size">
    <h1 class="title is-size-2">{{ page.title }}</h1>
    {{ content }}
</div>
<div class="columns is-multiline">
    <div class="timeline column is-12" x-data="{ open: false, 'timelineType': 'Posts', numPostsToLoad: 15, numPostsLoaded: 0 }" @scroll.window.throttle="() => {
            var loadNewPostsThreshold = 1500;
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - loadNewPostsThreshold) {
                numPostsToLoad += 10;
            }
        }">
        <div @click="() => {open = !open;}" class="dropdown timeline-header" x-bind:class="open ? 'is-active' : ''">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span x-text="timelineType"></span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <template x-for="typeitem in ['Posts', 'Projects']">
                    <a class="dropdown-item" @click="timelineType = typeitem " x-bind:class="timelineType === typeitem ? 'is-active' : ''" x-text="typeitem" ></a>
                </template>
              </div>
            </div>
        </div>

        <script>
            const _posts = [];
            {% for post in allposts %}
            _posts.push( {
                type: `{{post.timeline-type| dump | safe }}`,
                title: `{{post.title| dump | safe }}`,
                date: `{{post.date | date: "%b %-d, %Y"  | dump | safe }}`,
                excerpt: `{{post.excerpt | dump | safe }}`,
                url: `{{post.url | dump | safe }}`,
                baseurl: `{{site.baseurl | dump | safe }}`,
                image: `{% if post.image %}{{post.image}}{% else %}{% if site.favicon %} {{ site.favicon | relative_url }} {% else %} {{ site.baseurl }}/favicon.png {% endif %}{% endif %}`,
                tags: [{% if post.tags %}{% assign sorted_tags = post.tags | sort %}{% for single_tag in sorted_tags %}`{{ single_tag }}`,{% endfor %}{% endif %}]
            } );
            {% endfor %}
            window._posts = _posts;
        </script>
        <template x-for="(item, index) in window._posts" x-init="$watch('timelineType', value => {console.log(value); numPostsToLoad = 15; numPostsLoaded = 0; }); numPostsToLoad = 15; numPostsLoaded = 0; ">
            <template x-if = "timelineType === item.type && (numPostsLoaded < numPostsToLoad)">
            <a :href="item.url">
                <div class="timeline-item" x-init="numPostsLoaded ++; console.log(index); console.log(numPostsLoaded);">
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                    <p class="heading is-size-6" x-text="item.date.toString()"></p>
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img :src="item.image" alt="item.title">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4" x-text="item.title"></p>
                                    <div class="subtitle tags">
                                        <template x-for="tag in item.tags">
                                            <span class="tag is-primary has-text-dark is-size-6" x-text="tag"></span>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <template x-if="item.type !== 'Projects'">
                                <div class="content is-size-5" x-html="item.excerpt">
                                </div>
                            </template>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            </template>
        </template>
    </div>
</div>
